#MORPHOLOGY_PATH = False
#NUM_SENTENCES = 100
#NUM_TAGS = 17
#NUM_BURNINS = 10
#NUM_SAMPLES = 1
#MARKOV = 2
#TRANSITION_PRIOR = .1
#EMISSION_PRIOR = .1
#OPTIMIZE_TRANSITION_PRIOR = "no"
#OPTIMIZE_EMISSION_PRIOR = "no"
#BEST_MATCH = 0
#PERPLEXITY = 0
#VARIATION_OF_INFORMATION = 0
#TEST = False
